.section {
  background-color: rgb(17 24 39);
  width: 100%;
  min-width: 100%;
  border-radius: 4px;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  box-sizing: border-box;
}

.section h2 {
  line-height: 0;
}

.section-container {
  padding: 0px 16px;
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 48px;
  cursor: pointer;
}

.section-heading-divider {
  height: 1px;
  background-color: rgb(55 65 81);
}

.section-content {
  padding-top: 8px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.collapse-wrapper {
  max-height: 0;
  overflow: hidden;
  /* transition: max-height 0.2s ease-out; */
  box-sizing: border-box;
}

.dropdown-icon {
  position: absolute;
  right: 16px;
  transform: translateY(-50%);
  /* transition: transform 0.2s ease-out; */
}
