.container {
  display: flex;
  width: 200%;
}

.list,
.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  max-height: min-content;
  max-width: 50%;
}

.form {
  height: 100%;
  padding: 16px;
  gap: 16px;
  box-sizing: border-box;
}

.actions {
  display: flex;
  gap: 8px;
}

.list > button,
.actions > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(209 213 219);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 8px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 16px;
}

.actions > button {
  width: 100%;
  margin: 0;
}

.list button:hover,
.form button:hover {
  background-color: rgb(55 65 81);
  transition: all 0.2s ease-in-out;
}
